.filter_box {

    width: 54rem;
    height: 5.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--todo-item-background);
    column-gap: 1.8rem;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: -0.194444px;
    cursor: pointer;
}

.all,
.active,
.completed {
    color: var(--filter-text-color);
}

.all:hover,
.active:hover,
.completed:hover {
    color: var(--filter-text-hover);
}


.all_active,
.active_active,
.completed_active {
    color: var(--primary-Bright-Blue);
}

.item_count,
.clear_completed {
    margin: auto;
    color: var(--filter-text-upper);
}


.upper_filter {
    width: 54rem;
    height: 5.4rem;
    display: flex;
    flex-direction: row;
    background-color: var(--todo-item-background);
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: -0.194444px;
    cursor: pointer;
}